LongTermProgConfig (
  reroll_cost: 5,
  features: [
    (
      feature: BetterSpellUpgrades,
      description: "More stats",
      cost: 10
    ),
    (
      feature: MoreChoices,
      description: "Analysis Paralysis",
      cost: 10
    ),
    (
      feature: SeeInSingle,
      description: "Select this when you start to see double",
      cost: 10
    ),
    (
      feature: SpellInfo,
      description: "What even is happening",
      cost: 10
    ),
    (
      feature: MoarHp,
      description: "Less die",
      cost: 10
    ),
    (
      feature: CheaperRerolls,
      description: "Rolls for days",
      cost: 10
    ),
  ]
)
