LongTermProgConfig (
  reroll_cost: 5,
  features: [
    (
      feature: BetterSpellUpgrades,
      description: "More stat rolls",
      cost: 10
    ),
    (
      feature: MoreChoices,
      description: "More choices",
      cost: 10
    ),
    (
      feature: SeeInSingle,
      description: "Less seeing double",
      cost: 10
    ),
    (
      feature: MoarHp,
      description: "Less die",
      cost: 10
    ),
    (
      feature: CheaperRerolls,
      description: "More rerolls",
      cost: 10
    ),
    (
      feature: SpellSlot2,
      description: "More spells",
      cost: 10
    ),
    (
      feature: SpellSlot3,
      description: "Even more spells",
      cost: 10
    ),
  ]
)
