
LevelAsset(
  seed: 7448,
  tiles_per_chunk: 33,
  noisegen_settings:(
    (
      seed_offset: 3,
      overall_scale: (0.8, 0.8),
      simplex_scale: (0.1, 0.1),
      worley_seed_offset1: 42,
      worley_seed_offset2: 32,
      worley_scale1: (0.05, 0.05),
      worley_scale2: (0.05, 0.05),
      fbm_octaves: 5,
      fbm_freq: 0.3,
      fbm_lacunarity: 1.4,
      fbm_persistence: 1.3,
    ),
    (
      seed_offset: 11,
      overall_scale: (0.8, 0.8),
      simplex_scale: (0.1, 0.1),
      worley_seed_offset1: 4,
      worley_seed_offset2: 32,
      worley_scale1: (0.05, 0.05),
      worley_scale2: (0.02, 0.02),
      fbm_octaves: 7,
      fbm_freq: 0.13,
      fbm_lacunarity: 20.4,
      fbm_persistence: 0.3,
    ),
    (
      seed_offset: 6443,
      overall_scale: (0.8, 0.8),
      simplex_scale: (0.1, 0.1),
      worley_seed_offset1: 4,
      worley_seed_offset2: 32,
      worley_scale1: (0.05, 0.05),
      worley_scale2: (0.02, 0.02),
      fbm_octaves: 7,
      fbm_freq: 0.13,
      fbm_lacunarity: 20.4,
      fbm_persistence: 0.3,
    ),
    (
      seed_offset: 8391,
      overall_scale: (1.0, 1.0),
      simplex_scale: (1.0, 1.0),
      worley_seed_offset1: 4,
      worley_seed_offset2: 32,
      worley_scale1: (0.05, 0.05),
      worley_scale2: (0.02, 0.02),
      fbm_octaves: 7,
      fbm_freq: 0.13,
      fbm_lacunarity: 20.4,
      fbm_persistence: 0.3,
    ),
    (
      seed_offset: 530,
      overall_scale: (1.0, 1.0),
      simplex_scale: (1.0, 1.0),
      worley_seed_offset1: 4,
      worley_seed_offset2: 32,
      worley_scale1: (0.05, 0.05),
      worley_scale2: (0.02, 0.02),
      fbm_octaves: 7,
      fbm_freq: 0.13,
      fbm_lacunarity: 20.4,
      fbm_persistence: 0.3,
    ),
    (
      seed_offset: 62,
      overall_scale: (1.0, 1.0),
      simplex_scale: (1.0, 1.0),
      worley_seed_offset1: 4,
      worley_seed_offset2: 32,
      worley_scale1: (0.05, 0.05),
      worley_scale2: (0.02, 0.02),
      fbm_octaves: 7,
      fbm_freq: 0.13,
      fbm_lacunarity: 20.4,
      fbm_persistence: 0.3,
    ),
    (
      seed_offset: 54,
      overall_scale: (1.0, 1.0),
      simplex_scale: (1.0, 1.0),
      worley_seed_offset1: 4,
      worley_seed_offset2: 32,
      worley_scale1: (0.05, 0.05),
      worley_scale2: (0.02, 0.02),
      fbm_octaves: 7,
      fbm_freq: 0.13,
      fbm_lacunarity: 20.4,
      fbm_persistence: 0.3,
    ),
    (
      seed_offset: 73,
      overall_scale: (1.0, 1.0),
      simplex_scale: (1.0, 1.0),
      worley_seed_offset1: 4,
      worley_seed_offset2: 32,
      worley_scale1: (0.05, 0.05),
      worley_scale2: (0.02, 0.02),
      fbm_octaves: 7,
      fbm_freq: 0.13,
      fbm_lacunarity: 20.4,
      fbm_persistence: 0.3,
    ),
  ),
  tileset: (
    tile_height_screen: 16,
    tile_width_screen: 32,
    tile_height_world: 32,
    tile_width_world: 32,
    tile_height_sprite: 32,
    tile_width_sprite: 32,
  )
)
